# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
Debug/
Release/
x64/
x86/

# Others
*.log
*.tmp
*.nupkg
*.snupkg

# App settings (seguridad)
appsettings.Development.json
secrets.json

# Copilot Indices
CopilotIndices/

#FileContentIndex

FileContentIndex/*.vsidx